<div class="center-box">
  <p-toast position="top-center"></p-toast>
  <ng-container>
    <p-table [value]="[frames]">
      <ng-template pTemplate="body">
        <tr>
          @for (frame of frames; track frame.index) {
            <td>
              <app-frame [frame]="frame"></app-frame>
            </td>
          }
        </tr>
      </ng-template>
    </p-table>
    <br><br>
    <div class="flex align-items-center gap-3">


      <input pInputNumber id="roll1" type="number" class="roll"
             [(ngModel)]="inputRoll"
             [disabled]="isGameOver"
             [min]="0"
             [max]="10"/>&nbsp;
      <p-button label="Roll" (click)="updateFrames()" [disabled]="isGameOver"/>&nbsp;
      <p-button label="New Game" (click)="newGame()"/>
    </div>
  </ng-container>

  <!-- legend -->
  <div class="legend flex flex-column gap-2">

    <div class="flex align-items-center gap-2">
      <span class="legend-new"></span>&nbsp;
      <span>New</span>
    </div>
    <div class="flex align-items-center gap-2">
      <span class="legend-strike"></span>&nbsp;
      <span>Strike</span>
    </div>
    <div class="flex align-items-center gap-2">
      <span class="legend-spare"></span>&nbsp;
      <span>Spare</span>
    </div>
    <div class="flex align-items-center gap-2">
      <span class="legend-closed"></span>&nbsp;
      <span>Closed</span>
    </div>


  </div>
</div>
